@import url("./lato-v2.css");
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
  * Spring
  */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  color: #262A3F;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #262A3F;
  position: relative;
  background: url(../image/bg.jpg) top left/contain no-repeat;
}

button {
  all: unset;
}

main {
  flex-grow: 1;
}

header {
  padding: 24px 0;
  position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
  backdrop-filter: blur(9px);
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 150px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo-wrapper {
  width: 108px;
  height: 32px;
}
header .container .logo-wrapper a {
  display: block;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-menu a {
  position: relative;
}
.header-menu a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #F1897B;
  bottom: -7px;
  left: 50%;
  transform: translatex(-50%);
  transition: all 0.5s ease;
}
.header-menu a:hover::after {
  width: 44px;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#section-first {
  margin-bottom: 150px;
}

.content-block {
  max-width: 523px;
}
.content-block div {
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 50px;
}
.content-block h2 {
  font-weight: 300;
  font-size: 2.75rem;
  margin-bottom: 20px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

.green-text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: #85BBB1;
}

.btn-inline {
  font-weight: 700;
  font-size: 1.125rem;
  color: #F1897B;
  position: relative;
  letter-spacing: 1.6px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-inline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 11px;
  background-color: rgba(241, 137, 123, 0.3);
  bottom: -4px;
  left: 7px;
}
.btn-inline:hover {
  color: #e54f3a;
}
.btn-inline:hover::before {
  background-color: rgba(229, 79, 58, 0.3);
}

#statistic .container {
  display: flex;
  position: relative;
  margin-bottom: 120px;
}
#statistic .container .num {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  margin-bottom: 12px;
}
#statistic .container .num .dolar-div {
  width: 24px;
  height: 50px;
}
#statistic .container .num + div {
  text-align: center;
  line-height: 26px;
}

.statistic-image {
  width: 570px;
  aspect-ratio: 57/67;
}

.info-right {
  display: flex;
  position: absolute;
  top: 45px;
  padding: 45px 0;
  height: calc(100% - 90px);
  right: 0;
  max-width: 770px;
  background-color: rgba(255, 255, 255, 0.9);
}
.info-right .text-right {
  max-width: 400px;
  font-size: 1.125rem;
}
.info-right .text-right span {
  display: inline-block;
}
.info-right .text-right .solis-group {
  margin-bottom: 26px;
}
.info-right .text-right .enabled {
  margin-bottom: 50px;
}

.info-list {
  flex: 1;
}
.info-list .price {
  font-family: "Playfair Display", serif;
  font-size: 4.25rem;
  font-style: normal;
  color: #262A3F;
  line-height: 72px;
  white-space: nowrap;
}
.info-list li {
  position: relative;
  margin-bottom: 80px;
  padding: 0 50px;
}
.info-list li::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #85BBB1;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.info-list li:last-child {
  margin-bottom: 0;
}
.info-list li:last-child::before {
  content: none;
}

#benefits {
  margin-bottom: 120px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 30px;
}
@media screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

.grid-item {
  padding: 30px 35px;
  border-top: 1px solid #E4E4E4;
}
.grid-item h2 {
  font-size: 2.5rem;
  max-width: 400px;
  line-height: 48px;
  margin-bottom: 30px;
}

#quote .container {
  padding: 100px 160px;
  position: relative;
  margin-bottom: 120px;
  background: url("../image/quote-background.jpg") url(../image/quote-background.png) no-repeat top left/cover;
}
#quote .container .quote-wrapper {
  width: 102px;
  height: 84px;
  position: absolute;
  top: 70px;
  left: 100px;
}
#quote .container blockqote {
  max-width: 710px;
}
#quote .container blockqote footer {
  margin-top: 40px;
}

blockquote {
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
blockquote footer {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
}

iframe {
  width: 100%;
  height: 100%;
}

#video {
  margin-bottom: 120px;
}
#video .video-wrapper {
  max-width: 870px;
  aspect-ratio: 1.6;
  padding: 30px 70px 30px 30px;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  margin: 0 auto;
  position: relative;
  margin-bottom: 70px;
}
#video .video-wrapper::after, #video .video-wrapper::before {
  content: "";
  top: 50%;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  transform: translateY(-50%);
}
#video .video-wrapper::after {
  left: 8px;
  width: 13px;
  height: 13px;
}
#video .video-wrapper::before {
  right: 19px;
  width: 35px;
  height: 35px;
}
#video .video-wrapper ~ div {
  max-width: 870px;
  margin-inline: auto;
}
#video h2 {
  margin-inline: auto;
  max-width: 870px;
}

#promises .container {
  margin-bottom: 120px;
  position: relative;
}
#promises .container h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 13px;
  white-space: nowrap;
}
#promises .container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#promises .container .grid-item {
  border: none;
}
#promises .container .margin {
  margin-bottom: 13px;
}

.btn-border {
  padding: 33px 89px;
  border: 1px solid #E4E4E4;
  white-space: nowrap;
}
.btn-border::before {
  width: 105px;
  bottom: 29px;
  left: 93px;
}
.btn-border:hover {
  border: 1px solid #e54f3a;
}

#reviews {
  margin-bottom: 100px;
}
#reviews h2 {
  font-weight: 400;
  margin-bottom: 20px;
}
#reviews h2 + div {
  max-width: 400px;
  font-size: 1.125rem;
  margin-bottom: 50px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.reviews .reviews-item {
  padding: 30px 40px;
  background: url("../image/bg-reviews-1.jpg") no-repeat top left/cover;
}
.reviews blockquote {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 26px;
}
.reviews blockquote footer {
  margin-top: 26px;
}

#contact .container {
  display: flex;
  border-top: 1px solid #E4E4E4;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-top: 60px;
}
#contact .container .flex-item {
  width: 48%;
}
#contact .container form {
  width: 48%;
}

input {
  all: unset;
  display: inline-block;
  width: 100%;
  color: #E4E4E4;
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-style: italic;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 7px;
  text-align: start;
  margin-bottom: 40px;
  opacity: 0.5;
  caret-color: black;
  color: black;
  letter-spacing: 5px;
}

footer .container {
  display: flex;
  padding: 31px 0;
  border-top: 1px solid #E4E4E4;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}
footer .container .opacity-text {
  font-weight: 300;
  opacity: 0.6;
}
footer .container .center-text {
  display: flex;
  gap: 12px;
}
footer .container .end-text {
  display: flex;
  gap: 32px;
}

.page-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.mobile-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  transform: translatex(-300px);
  transition: all 0.2s ease;
}

.open-mobile-menu .page-shadow {
  opacity: 1;
  visibility: visible;
}
.open-mobile-menu .mobile-panel {
  transform: translatex(0);
}

.mobile-menu ul {
  border-top: 1px solid #E4E4E4;
}
.mobile-menu ul li {
  border-bottom: 1px solid #E4E4E4;
}
.mobile-menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
}
.mobile-menu ul li a:hover {
  background-color: #e54f3a;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    margin-bottom: 50px;
  }

  .reviews {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .statistic-image {
    display: none;
  }

  .info-right {
    position: relative;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }

  header {
    padding: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .header-menu {
    display: none;
  }

  #video, #section-first {
    margin-bottom: 50px;
  }

  #promises .container .grid-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  #contact .container {
    flex-direction: column;
    gap: 50px;
  }
  #contact .container .flex-item, #contact .container #contact .container form {
    width: 100%;
  }

  #quote .container {
    padding: 40px;
  }
}
@media screen and (max-width: 800px) {
  blockquote {
    font-size: 1rem;
  }

  .info-list .price {
    font-size: 3.25rem;
  }

  .grid-item {
    text-align: center;
    justify-items: center;
    padding: 0;
  }

  #statistic .container {
    justify-content: center;
  }

  #promises .container .info-right {
    background: none;
    padding: 0;
    top: 0;
  }

  #promises .container {
    margin-bottom: 50px;
  }

  footer .container {
    flex-direction: column-reverse;
    gap: 10px;
  }
}