ul{
    list-style-type: none; /* Убирає маркери */
    padding: 0%;
}
h1{
    padding-top: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

form{
    padding: 10px;
}
.first{
    background: #867878;
    text-align: center;
    
}
.container{
    max-width: 500px;
    margin: 0 auto;
    
}
.container-form{
    margin: 0 auto;
    max-width: calc(100% - 100px);
    background: rgb(233, 223, 223);
}