*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    vertical-align:top;
    object-fit: cover;
}
.container{
    width: min(90%, 1170px);
    margin: 120px auto;
}
.container h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
}

.galary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.h-span2{
    grid-row: span 2;
}
.w-span2{
    grid-column: span 2;
    aspect-ratio: 2;
}
.container img{
    aspect-ratio: 1;
    border-radius: 20px;
    
}
