*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    vertical-align:top;
    object-fit: cover;
}
.container{
    width: min(90%, 1170px);
    margin: 120px auto;
}
.container h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
}

.galary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.h-span2{
    grid-row: span 2;
}
.w-span2{
    grid-column: span 2;
    aspect-ratio: 2;
}
.container img{
    aspect-ratio: 1;
    
}
.item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #e0e0e0;
    opacity: .5;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -40px;
    transition: all .2s ease;
    z-index: 1;
}
.btn:hover{
    opacity: 1;
}
.btn-like{
    left: -40px;
}
.btn-share{
    right: -40px;
}
.item:hover .btn{
    top: 20px;
}
.item:hover .btn-like{
    left: 20px;
}
.item:hover .btn-share{
    right: 20px;
}
.item-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-family: sans-serif;
    font-size: 1.25rem;
    width: 100%;
    z-index: 1;
}
.item img{
    transition: all .2s ease;
}
.item:hover img{
    scale: 1.1;
}
.item::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #241f24 0%, rgba(91, 91, 91, 0.45) 34%, rgba(187, 188, 160, 0.63) 100%);
}
.item:hover::after{
    background-image: linear-gradient(to top, #241f24, transparent);
    height: 70px;
}
.btn img{
    width: 20px;
    height: 20px;
}