*,*::after, *::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.container{
    width: min( 90%,1200px);
    margin: 0 auto;
} 
 .container{
    padding: 35px;
    width: 570px;
    
 }

 h1{
    margin-bottom: 20px;
 }
 .form-row{
    width: 100%;
    display: flex;
    align-items: center;
   
    gap: 10px;
 }
 .row-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
   
 }
 input{
    border: 1px solid gray;
    border-radius: 5px;
    
 }
 input:active,
 input:focus

 {
    border: 1px solid blue;
 }
 label,
 input{
    margin-bottom: 7px;
 }
 input[type="text"]{
    width: 245px;
    height: 38px;
 }
 .radio-div{
    flex-direction: row;
    position: relative;
    gap: 20px;
 }
 input[type="radio"]{
    opacity: 0;
    position: absolute;
 }
input.radio + label{
    padding-left: 28px;
    position: relative;

}
input.radio + label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid gray;
    transition: all .2s ease;
}
input.radio + label::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background-color:white;
    transition: all .2s ease;
    opacity: 0;
}
input.radio:checked + label::before{
    background-color: #007BFF;
}


.radio:focus + label::before {
    border: 1px solid blue;
}
input.radio:checked + label::after{
    opacity: 1;
}
.select2-container--default .select2-selection--single{
    width: 245px;
    height: 38px;
}
.select-div{
    width: 50%;
}
.select2-container--default 
.select2-selection--single 
.select2-selection__rendered{
    padding: 2px 10px;
}
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow{
    position: absolute;
    border-bottom: 6px solid gray;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 26px;
    top: -8px;
    right: 10px;
    width: 5px;
}
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow b{
    border-color: #888 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 6px 5px 0 5px;
    height: 0;
    left: 50%;
    margin-left: -5px;
    margin-top: 18px;
    position: absolute;
    top: 50%;
    width: 0;
}
.email{
    width: 100%;
}
.email input{
    width: 100%;
}
.btn{
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 8px 10px;
    border: 0;
    border-radius: 6px;
}
.btn-submit{
    margin-bottom: 28px;
}
a{
    text-decoration: none;
    color: #007BFF;
    
}
.text-agree{
    width: 460px;
    display: inline;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
}
.text-account{
    display: inline;
    text-align: center;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
input[type='file']{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.fake-div{
    width: 138px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    margin-bottom: 9px;
}

    

.photo-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:20px;

}
.file-div{
   
}
.svg{
    position: absolute;
    top: 5px;
    right: 5px;

}
.div-file{
    display: flex;
    gap: 10px;

}
.remove{
   width: 100%;
   height: 100%;
   opacity: 0;
   position: absolute;
    
}
.fake-div-button{
    border: 1px solid gray;
    transition: all .2s ease;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    position: relative;
}
.svg-remove{
    position: absolute;
    top: 6px;
    right: 6px;
}
h2{
    margin-bottom: 20px;
}