*, *::after *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  text-transform: uppercase;
  margin-bottom: 150px;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}
a:hover {
  color: #18B5DC;
}
a:active {
  color: #18B5DC;
}
a:visited {
  color: #0AA0C6;
}

h1 {
  height: 65px;
  font-family: Lato;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 40.8px;
  letter-spacing: 0.13em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
h1::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 4px;
  background-color: #5DCBE6;
}

img {
  vertical-align: top;
}

.container {
  width: min(1440px, 90%);
  margin-inline: auto;
}
.container ul {
  display: flex;
  gap: 40px;
  font-size: 1.25rem;
}

.btn {
  border: 2px solid #18B5DC;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 1.125rem;
  color: #18B5DC;
}
.btn:hover {
  background: #18B5DC;
  color: white;
}
.btn:disabled {
  background: #DDDBDB;
}
.btn:visited {
  background: #0AA0C6;
}

.text {
  text-align: center;
  margin-bottom: 60px;
}

.card-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.card-description h2, div {
  font-size: 1.125rem;
}

.item {
  background: #18B5DC;
  transition: all 0.2s ease;
  position: relative;
}
.item:hover img {
  opacity: 0;
}
.item:hover .social-group {
  opacity: 1;
}

.social-group {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.socail-item {
  width: 42px;
  height: 42px;
  background-color: #5DCBE6;
  transition: all 0.2s ease;
  position: relative;
}
.socail-item svg {
  position: absolute;
  top: 8px;
  left: 8px;
  fill: white;
  width: 24px;
  height: 24px;
}
.socail-item svg path {
  fill: #18B5DC;
}
.socail-item:hover {
  background-color: white;
}
.socail-item:hover svg {
  fill: #18B5DC;
}
.socail-item:visited svg {
  fill: #0AA0C6;
}

.home {
  margin-bottom: 150px;
}

footer {
  text-align: center;
}
footer .footer-logo {
  margin-bottom: 30px;
}
footer ul {
  justify-content: center;
  margin-bottom: 30px;
  padding: 0;
}
footer .social-group {
  opacity: 1;
  position: relative;
  justify-content: center;
  top: 0;
  left: 0;
  transform: none;
}