:root{
    --text-color:#070707;
    --gray-color: #828282;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem; 
    color: var(--text-color);
}
h1{
    font-size: 3rem;
    margin-bottom: 45px;
    line-height: 63px;
    word-spacing: -2px;
    letter-spacing: 2px;
}
a{
   text-decoration: none; 
}
img{
    vertical-align: top;
}
ul{
    list-style: none;
}
.container{
    width: min(90%,970px);
    margin-inline: auto;
}
header .container{
    border-bottom: 1px solid #828282;
    padding: 25px 0;
}
.main-menu{
   
}
.main-menu ul{
    text-align: center;
}
.main-menu ul li{
    font-size: 1.125rem;
    display: inline-block;
    margin: 0 20px;
}
.main-menu ul li a{
    line-height: 30px;
    color: var(--gray-color);
}
.main-menu ul li a:hover{
    color: var(--text-color);
    text-shadow: .5px .5px black,-.5px -.5px black;
}
.first-block{
    margin-top: 12px;
}
.about{
    text-align: center;
    margin-top: 101px;
}
h2{
    font-size: 2.1rem;
    margin-bottom: 44px;
}
.container-description{
    width: 470px;
    margin: 0 245px;
}

.container-description p{
    margin-bottom: 31px;
    word-spacing: -2px;
}
.container-description p span{
    display: block;
    
}
.skills{
    margin-top: 201px;
    text-align: center;
}
.container-skills h2{
   margin-bottom: 15px;
}
.skills-icons{
    display: flex;
}
.container-skills{
    margin-bottom: 48px;
}
.skills-div a {
    display: block;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
}
.adobe{
    margin-left: 8px;
}
.illustrator,.ae,.figma{
    margin-left: 113px;
}
.skills-div img{
    margin-bottom: 25px;
}
.list-star{
    margin-top: 60px;
}
.figma .list-star{
    margin-top: 80px;
}
.portfolio{
    text-align: center;
    margin-top: 175px;
}
.portfolio h2{
    font-weight: 700;
}
.portfolio-works img{
    margin-bottom:40px  ;
}
.portfolio-works {
    margin-bottom:  70px;
}
footer{
    text-align: center;
    margin-top: 200px;
}
footer h2{
    margin: 0;

    
   
}
footer div{
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
}
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 24.51px;
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    width: 180px;
    height: 44px;
    border-radius: 22px;
    padding: 0 8px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.social-group{
    width: auto;
    margin-bottom: 3.8rem;
}
.social-group img{
    width: 40px;
    height: 40px;
    margin: 0 25px;
    opacity: .7;
}
.social-group img:hover{
    
    opacity: 1;
}
.social {
    text-align: center;
    margin-inline: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 242px;
    font-size: 14px;
    line-height: 19.07px;
    color: #828282;}
.group{
    display: flex;
    justify-content: center;
}

